<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Bike Rental System</h2>
        <div class="d-flex">
            <button class="btn btn-success">About Project</button>
            <button class="btn btn-success">Contact</button>
            <button routerLink="/user-login"class="btn btn-success">User</button>
            <button routerLink="/login" class="btn btn-success">Admin Login</button>
        </div>
    </div>
</nav>
<div>
    <img [src]="myimage" alt="" style="width: 1500px;;height:auto ;">
</div>