<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>BicycleRentalApp Login</h1>
                    <h5>Feel free to login</h5><hr>
                </div>
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="adminlogin.Email" name="abc@gmail.com">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="adminlogin.password" name="123">
                    </div>
                   
                    <button routerLink="/admin" type="submit"(click)="loginAdmin()" class="btn btn-primary">Login</button>
                  </form>
            </div>
        </div>
    </div>
</div>
