<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Bike Rental System Dashboard</h1>
                    <hr>
                </div>
                <form>
                    <div class="mb-3">
                        <button routerLink="/new" class="btn btn-secondary">Add Booking</button><br><br>
                        <button routerLink="/bookingreport" class="btn btn-secondary">Booking Report</button><br><br>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<div>
</div>

